.Tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.Tool span {
    color: white;
    font-family: "MonumentGrotesk";
}

.toolAccess {
    background: none;
    border: 2px solid #ffea00;
    color: #ffea00;
    padding: 15px 0;
    font-family: "MonumentGroteskMono";

    /* TODO - NOT SURE IF THIS IS MOBILEONLY SIZING */
    font-size: 20px;
    font-weight: bold;
    width: 135px;
    cursor: pointer;
}

@media (max-width: 950px) {
    .Tool {
        width: 100%;
        margin: 30px 0;
    }

    .Tool span {
        margin: 25px 10%;
    }
}