.Header {
    position: relative;
    width: 100%;
    height: calc(100vh - 54px);
}

#starsBg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

#breadWordmark {
    position: relative;
    width: 80%;
    left: 10%;
    top: 20px;
    padding: 20px;
    height: calc(100vh - 175px);
}

#breadHero {
    position: absolute;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#animatedWordmarkHero {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 90%;
    left: 0;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#toLatestDesktop {
    position: absolute;
    background: none;
    border: 0;
    bottom: 5%;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 25px;
    cursor: pointer;
    font-family: "MonumentGroteskMono";
}

#toLatestMobile {
    position: absolute;
    background-color: unset;
    color: #ffea00;
    border: 2px solid #ffea00;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 0;
    bottom: 50px;
    width: 90vw;
    font-size: 25px;
    /* font-family: "Lucida Console", Monaco, monospace; */
    font-family: "MonumentGroteskMono";
    cursor: pointer;
}

.mobileOnly {
    display: none;
}

.desktopOnly {
    display: inherit;
}

@media (max-width: 950px) {
    #breadWordmark {
        width: 100vw;
        height: calc(100vh - 40px);
        left: 0;
        top: 0;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    #breadHero {
        max-width: 350px;
        height: auto;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #animatedWordmarkHero {
        width: 80%;
        height: auto;
        top: 0;
    }

    .mobileOnly {
        display: inherit;
    }

    .desktopOnly {
        display: none;
    }
}