.Footer {
    height: auto;
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: 25px;
    color: white;
    margin: 25px 5%;
    font-family: "MonumentGrotesk";
}

.downloadButton {
    border: 2px solid #ffea00;
    color: #ffea00;
    width: 460px;
    max-width: 95%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    margin: 2vw;
    font-family: "MonumentGroteskMono";
    font-size: 25px;
}

.downloadButton:hover {
    color: red;
    border-color: red;
}

@media (max-width: 600px) {
    .downloadButton {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .downloadButton {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .downloadButton {
        height: 60px;
        line-height: 60px;
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .downloadButton {
        height: 50px;
        line-height: 50px;
        font-size: 10px;
    }
}