.Issue {
    background: black;
    padding: 0 7.5%;
}

.issueHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid red;
}

.issueHeader span {
    margin: 10px 0;
    color: red;
    font-family: "MonumentGroteskMono"
}

.issueHeader span:last-of-type {
    font-weight: bold;
    font-family: "MonumentExtended"
}

.issueImg {
    justify-content: space-around;
}

.issueDetails {
    display: flex;
    justify-content: space-between;
    height: 80%;
    margin: 75px 5% 0 5%;
    min-height: 300px;
}

#imgSuperimposed {
    position: relative;
    height: 25%;
    width: 75%;
}

#issue01gif {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#issue01static {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.blueGlow {
    box-shadow: 0 0 70px #0019ff;
}

.issueDetails > * {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issueBullets {
    align-items: flex-start;
}

.issueTitle {
    margin-bottom: 35px;
    font-family: "MonumentExtended";
    font-size: 35px;
    font-weight: bold;
}

.issueItem {
    color: white;
    font-family: "MonumentGrotesk";
    text-align: unset;
    margin-bottom: 24px;
}

.issueItem:last-of-type {
    font-family: "MonumentGroteskMono";
}

.issueGetDigital {
    display: flex;
    justify-content: center;
    background: none;
    border: 2px solid yellow;
    color: yellow;
    width: 100%;
    font-size: 25px;
    font-family: "MonumentGroteskMono";
    text-align: center;
    padding: 28px 0;
    cursor: pointer;
}

.issueTools {
    position: relative;
    display: flex;
    justify-content: space-around;
    border: 2px solid red;
    padding: 50px 5%;
    margin: 50px 5% 0 5%;
}

.toolsHeader {
    background: black;
    position: absolute;
    height: 50px;
    width: 255px;
    padding: 0 15px;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
    max-width: 66%;
}

.toolsHeader span {
    font-family: "MonumentGroteskMono";
    color: red;
}

.mobileOnly {
    display: none;
}

.desktopOnly {
    display: inherit;
}

@media (max-width: 950px) {
    .issueDetails {
        flex-wrap: wrap;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .issueDetails > * {
        width: 100%;
    }

    .issueImg {
        height: 50vh;
        justify-content: flex-start;
    }

    #imgSuperimposed {
        width: 100%;
        height: auto;
    }

    .issueTitle {
        margin: 0;
    }

    .issueItem {
        text-align: left;
        margin-top: 0;
        margin-bottom: 24px;
    }

    .issueGetDigital {
        margin: 30px 0;
        padding: 20px 50px;
    }

    .centerFlexTextMobile {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .issueTools {
        flex-wrap: wrap;
        padding: 10%;
    }

    .mobileOnly {
        display: inherit;
    }

    .desktopOnly {
        display: none;
    }
}